<div class="mb-6">
    <h1 class="text-xl font-semibold mb-4">Bio</h1>
    <div class="mb-2">
        <b class="font-extrabold">2018+:</b>
        I joined <a href="https://tokopedia.com">Tokopedia</a> as software engineer which have main focus on web engineering. My works are ranging from developing product for end customers and developer, to core platform optimization and maintenance.
    </div>
    <div class="mb-2">
        <b class="font-extrabold">2014 - 2018:</b>
        BCompSc at <a href="https://ipb.ac.id">IPB Univeristy</a> with a major in computer science. This is where I first came in contact with web engineering.
    </div>
</div>