<footer class="flex align-items justify-between mt-auto mb-7 text-xs text-gray-400">
    <p>&copy; {{ meta.year }} Miqdad <span class="hidden md:inline">A. Fawwaz</span></p>
    <div class="flex align-items">
        <a href="{{ site.mail }}" target="_blank" rel="noreferrer noopener" class="mr-2 md:mr-4 underline hover:text-gray-900">
            E-Mail
        </a>
        <a href="{{ site.twitter }}" target="_blank" rel="noreferrer noopener" class="mr-2 md:mr-4 underline hover:text-gray-900">
            Twitter
        </a>
         <a href="{{ site.github }}" target="_blank" rel="noreferrer noopener" class="mr-2 md:mr-4 underline hover:text-gray-900">
            Github
        </a>
    </div>
</footer>