<footer class="flex align-items justify-between mt-auto mb-7 text-xs text-gray-400">
    <p>&copy; {{ site.year }} Miqdad <span class="hidden md:inline">A. Fawwaz</span></p>
    <div class="flex align-items">
        <a href="{{ site.source }}" target="_blank" rel="noreferrer noopener" class="mr-2 md:mr-4 underline hover:text-gray-900">
            v{% version %}
        </a>
    </div>
</footer>