<header class="font-serif w-full mb-6 pb-6 border-b flex justify-center items-center flex-col">
    <h1 class="font-semibold text-3xl tracking-wider mb-2 block">
        {{ site.title }}
    </h1>
    <p class="mb-2">Software Engineer - Web Platform at Tokopedia</p>
    <nav role="navigation" aria-label="Main" class="flex text-sm align-items">
        <ul class="flex items-center">
            {%- for item in site.navigations -%}
            {%- set isCurrent = (item.url === page.url) -%}
            {%- set isParent = item.url !== '/' and item.url in page.url -%}
            <li class="mr-4 hover:underline">
                <a
                    href="{% if isCurrent %}#{% else %}{{ item.url | url }}{% endif %}"
                    {% if isCurrent %}class="font-semibold"{% endif %}
                    {% if isCurrent %}aria-current="page"{% endif %}
                >
                    {{ item.title }}
                </a>
            </li>
            {%- endfor -%}
        </ul>
    </nav>
</header>