<header class="w-full flex align-items justify-between mb-6 pb-6 border-b dark:text-white">
    <a href="/" class="font-mono font-semibold text-lg tracking-wider hover:text-black transition-colors duration-500 dark:hover:text-blue-400">
        {{ site.title }}
    </a>
    <nav role="navigation" aria-label="Main" class="flex align-items">
        <ul class="flex items-center spacing-x-4">
            {%- for item in collections.all | eleventyNavigation -%}
            {%- set isCurrent = (item.url === page.url) -%}
            {%- set isParent = item.url !== '/' and item.url in page.url -%}
            <li class="ml-4 hover:underline">
                <a
                    href="{% if isCurrent %}#{% else %}{{ item.url | url }}{% endif %}"
                    {% if isCurrent %}class="font-semibold"{% endif %}
                    {% if isCurrent %}aria-current="page"{% endif %}
                >
                    {{ item.title }}
                </a>
            </li>
            {%- endfor -%}
            <li class="ml-4 hover:underline">
                <a
                    href="/rss.xml"
                    target="_blank"
                    rel="noopener noreferrer"
                    {% if isCurrent %}class="font-semibold"{% endif %}
                    {% if isCurrent %}aria-current="page"{% endif %}
                >
                    RSS
                </a>
            </li>
        </ul>
    </nav>
</header>