<h1 class="text-xl font-semibold dark:text-white">Blog Posts</h1>
{% if collections.posts.length > 0 %}
    <ul>
        {%- for post in collections.posts | reverse -%}
            <li class="flex flex-col mb-4">
                {% if post.data.externalLink %}
                    <a href="{{ post.data.externalLink }}" class="font-serif text-lg" target="__blank">{{ post.data.title }}</a>
                {% else %}
                    <a href="{{ post.url }}" class="font-serif text-lg">{{ post.data.title }}</a>
                {% endif %}
                <p class="text-gray-400">{{ post.data.description }}<p>
                <div class="flex text-xs text-gray-400 mt-2">
                    <time datetime="{{ post.date | htmlDateString }}">
                        {{ post.date | readableDate }}
                    </time>
                    <div class="mx-1">·</div>
                    <p>{{ post.templateContent | timeToRead }} read</p>
                </div>
            </li>
        {%- endfor -%}
    </ul>
{% endif %}