<div class="prose max-w-full dark:text-white">
    <p>Hi, my name is Miqdad. I'm engineer at <a href="https://tokopedia.com" target="_blank" rel="noopener noreferrer" class="dark:text-blue-400 dark-important">Tokopedia</a> working on the web platform. I make a living developing performant web and development tools. You can reach me at <a href="{{ site.mail }}" class="underline dark:text-blue-400 dark-important">miqdad.fawwaz@gmail.com</a> or follow me on <a href="{{ site.twitter }}" class="underline dark:text-blue-400 dark-important">Twitter</a> and <a href="{{ site.github }}" class="underline dark:text-blue-400 dark-important">Github</a>.</p>
    <p>Other interests: Rust lang, operating system, and compiler design.</p>
</div>