<div class="font-serif max-w-full mb-6 leading-6">
  <p>
    I am a Software Engineer at Tokopedia, where I involve in core and innovation team
    for web platform, a small but fast-pacing central team that helps product team leverage their 
    possibility. I maintain a big scale of tokopedia web microservices and make sure all of core 
    functionalities work well without sacrificing operation productivity and velocity. I also evaluate
    and improve Tokopedia web application, where I do research software problems, conduct proof of concept, diagnostics, 
    and bringing fine-grained results to production. I mostly collaborate with multi-disciplinary team of
    engineers on a wide range of problems. In my spare time, I'd like to learn computing disciplines, from mathematics, computer
    science fundamentals, to operating system.
  </p>
</div>
