<div class="flex items-start p-4 bg-gray-100 border border-gray-200">
    <div id="about">
        Hi there! I’m Miqdad. I work on Chrome DevTools and the V8 JavaScript engine at Google. HTML, CSS, JavaScript, Unicode, performance, and security get me excited.
        You can reach me at <a href="{{ site.mail }}" class="underline">miqdad.fawwaz@gmail.com</a> or follow me on <a href="{{ site.twitter }}" class="underline">Twitter</a> and <a href="{{ site.github }}" class="underline">Github</a>
    </div>
</div>