<div class="mb-6">
    <h1 class="text-xl font-semibold mb-4">Open Source Projects</h1>
    <div class="mb-2">
        <p><a href="https://github.com/miqdadfwz/eslint-plugin-loadable-component">eslint-plugin-loadable-component</a> is a lint support for 
        <a href="https://loadable-components.com/">@loadable/component</a> implementation including some opinionated rules that able to mitigate some unexpected errors and suggesting best
        practices.  
    </div>
    <div class="mb-2">
        <p><a href="https://github.com/miqdadfwz/svelgo">svelgo</a> is a <a href="svelte.dev">svelte</a> baseline with rich pre-configured environment.
        It supports various modern web stacks such as PWA, typescript, tailwindCSS, and others. It also implements hybrid rendering 
        strategy means you can run SSR and CSR independently based on what you need.  
    </div>
</div>