---
title: About
description: Miqdad Personal Website
layout: base
eleventyNavigation:
    key: About
    order: 1
---
<article class="prose max-w-full">
    <p>Hi there! I’m Miqdad. I work on web platform at <a class="https://tokopedia.com" target="_blank" rel="noopener noreferrer">Tokopedia</a>. I make a living developing performant web and development tools. You can reach me at <a href="{{ site.mail }}" class="underline">miqdad.fawwaz@gmail.com</a> or follow me on <a href="{{ site.twitter }}" class="underline">Twitter</a> and <a href="{{ site.github }}" class="underline">Github</a>.</p>
    <p>Other interests: Rust lang, operating system, and compiler design.</p>
</article>
