---
title: Miqdad A. Fawwaz
description: Personal website of Miqdad A. Fawwaz. Thoughts on web platform and software engineering.
layout: base
---
{% include "profile.njk" %}
{% include "bio.njk" %}
{% include "projects.njk" %}