---
title: Miqdad A. Fawwaz
description: Personal website of Miqdad A. Fawwaz. Thoughts on web platform and software engineering.
layout: base
---
{% include "profile.njk" %}
<span class="block border border-1 border-dashed w-1/12 my-6 border-gray-800 dark:bg-white"></span>
{% include "posts.njk" %}