---
title: Home
description: Miqdad Personal Website
layout: base
eleventyExcludeFromCollections: true
---
<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center justify-center w-full px-6 lg:px-12" style="top: 45%">
    <img src="/static/disconnected.svg" alt="disconnected-icon" class="w-40" />
    <p class="my-4 text-center text-sm dark:text-white">Your network is unavailable. Check your data or wifi connection.</p>
    <button onClick="window.location.reload();" type="button" class="hover:bg-gray-100 hover:text-gray-800 text-gray-800 font-semibold py-1 px-8 dark:text-white">Retry</button>
</div>

