<!DOCTYPE html>
<html lang="en">
<head>
    <meta charsetq="UTF-8">
    <meta http-euiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="/manifest.json" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="miqdad.dev" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="theme-color" content="#ffffff" />
    <meta name="application-name" content="miqdad.dev" />
    <meta name="mobile-web-app-capable" content="yes" />

    <meta name="msapplication-starturl" content="/" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" href="/static/favicon/favicon.ico" />

    <link href="https://twitter.com/miqdadfwz" rel="me"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=PT+Serif&display=swap' %}

    {% preloadJS %}
    {% preloadCSS %}
    {% bundledCSS %}
    {% seo "" %}
</head>
<body class="font-serif">
    <div class="flex flex-col min-h-screen max-w-3xl mx-auto pt-6 px-6">
        {% include "header.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
        {% bundledJS %}
    </div>
</body>
</html>